.idea
.ipynb_checkpoints
.pytest_cache
.coverage
.python-version
.DS_Store
.vscode

*.png
*.svg
*.pdf
*.csv
benchmarking/**/*.npy

__pycache__
dataset
dist/
!docs/logos/*

docs/**/generated/
docs/_build/
docs/examples/

.tmp_coverage_files/
tests/preprocessing/input_output/data/mol_out.sdf

.pip_audit_cache
.python-version

.DS_Store
.vscode

*.tsv
*.gz
*.zip
